#login-background
{
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    height: 100vh; 
    text-align: center;
    margin: 0px;    
}
#team-displayer
{
    height:100%; 
    width: 100%; 
    height: 200px; 
}
#response-container
{
    margin: 30px;
    border: 3px solid black; 
    text-align: center;
}
#response-button
{
    margin: 8px; 
}
#team-adder
{
    height:100%; 
    width: 100%; 
    height: 200px; 
}
#mc-answers,#mc-adder,#question-display,#question-adder
{
    width: 100%; 
    height: 100px
}
#content-mc-after
{
    text-align: center;
}
#mcafter-message
{
    margin: 20px; 
}
#extrainfo
{
    font-size: 20px; 
}
#sepline
{
    border-top: 3px solid black;
}
#team-mates,#score-home
{
    border: 2px solid black;
    margin: 10px; 
    padding: 10px; 
    text-align: left;
    margin-bottom: 20px; 
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 5px;

}

#live-settings,#manage-teams,#current-answers
{
    text-align: center;
    font-size: 20px;
    border: 2px solid black;
    margin: 10px; 
    padding: 10px; 
    margin-bottom: 20px; 
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 5px;
}
#client-home-body
{
    text-align: center;
}
#dragon-img
{
    height: 50px;
}
#extrainfof
{
    font-size: 18px;
}
#question-select
{
    margin-left: 10px; 
}
#signin
{
    background-color: black;
    color:white; 
    border: none;
    padding: 5px; 
    width: 100px;
    border-radius: 5px; ;
}
#frqlist
{
    text-decoration: none;
    text-align: left;
    font-size: 23px; 
    margin-left: 10px;
}
#signin:hover
{
    border: 2px solid black; 
    background-color: white;
    color: black;
}
#signin:focus
{
    outline: none; 
    box-shadow: none;
}
#frq-status
{
    text-align: center;
    border: 3px solid black; 
}
#wrapper
{
    height: 100%;
}
#l1,#l2
{
    width: 250px; 
    text-align: left;
}
#ranking-content
{
    text-align: center;
}
#frqsub-area
{
    text-align: center;
    width: 100%; 
    height: 100%;
}
#head
{
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    margin-top: 15px;
}
#new-code-editor
{
    display:inline-block;
    font-family: '"Fira code", "Fira Mono", monospace';
    font-size: 12; 
    margin: 10px; 
    width: 80%; 
    overflow-y: scroll;
    border: 2px solid black;
}
#code-editor
{
    font-family: '"Fira code", "Fira Mono", monospace';
    font-size: 12; 
    width: 100%;
    overflow-y: scroll;
    border: 2px solid black; 
}
#mctimer
{
    border:3px solid black; 
    text-align: center;
    padding: 10px; 
}
#selection
{
    border: 3px solid black; 
}
#sketchpad
{
    border:3px solid black; 
    background-color: white;
    height: 98%;
    width: 100%;
    
}

#sketch
{
    border: 3px solid black; 
    background-color: #89cff0;
    text-align: center;   
}
#login-fail
{
    display: hidden;
    user-select: none;
    font-size: 12px; 
    color: white;
}
#question_styling
{
    font-size: 20px;
}
#co
{   
    height: 100vh
}
#submit-fr
{
    background-color: black;
    color: white;
    border: none;
    padding: 7px; 
}
#submit-fr:hover
{
    color: black; 
    background-color: white;
    border: 3px solid black;
}
#submit-fr:focus
{
    outline: none; 
    box-shadow: none;
}
#submit-mc
{
    margin: 50px; 
    text-align: center;
    width: 85%; 
    padding: 10px; 
    background-color: black;
    color: white;
    border: none; 

}
#submit-mc:hover
{
    color: black; 
    background-color: white;
    border: 3px solid black;
}

#submit-mc:focus
{
    outline: none; 
    box-shadow: none;
}
#login-box
{
    padding: 5px; 
    border: 5px solid black; 
    width: 400px; 
    height: 240px; 
    position: absolute; 
    left: 50%; 
    top: 50%;
    margin-top: -100px; 
    margin-left: -220px; 
    border-radius: 10px;
    text-align: center;
}
#mc-answerchoice
{
    margin: 40px; 
}
#mc-answerchoice-fr
{
    margin: 20px; 
}
input[type='radio'] {
    transform: scale(3.5);
}
.navbar-brand
{
    font-size: 35px;
    border: 2px solid white; 
    padding: 5px; 
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}
#info
{
    border: 3px solid black;
    border-radius: 10px; 
    text-align: center;
    margin: 15px; 
    padding: 10pxpx; 
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #filter-toggle
  {
      border: 3px solid black;
      padding: 20px;
      display: inline-block;
  }
  #ranking-container
  {
      background-color: #48494B; 
      text-align: center;
      color: white;
  }
  #placement-container
  {
      color: white; 
      border: 2px solid white; 
      padding: 10px;
      margin: 5px;
  }